@import "./function";

.hz-fillgaps, .hz-fillgaps--default {
    line-height: 30px;
}

.hz-fillgaps__gap {
    background-color: #f4f4f4;
}

.hz-fillgaps__words{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    border:1px solid #ccc;
    margin: 20px 0;
}
.hz-fillgaps__word:hover {
    cursor:move;
}


.hz-fillgaps__word{
    flex-grow: 1;
    text-align: center;
    margin:0px 5px;

}

.hz-fillgaps__gap--destiny {
    border-bottom: 1px dashed #ccc;
}


.hz-fillgaps__gap--empty{
    padding: 0 30px;
}
.hover_destiny{
    background-color: #ccc;
}
.hz-fillgaps__gap--ko{
    color: red;
}
hz-fillgaps__gap--ko:after {
    content: '\f072';
    font-family: FontAwesome;
    font-size: 10px;
}

.hz-fillgaps__gap--ok{
    color: green;
}

.hz-fillgaps__gap--ok:after {
    content: '\f072';
    font-family: FontAwesome;
    font-size: 10px;
}
.hz-fillgaps__gap--filled{
    padding:0px;
}